<div class="main-banner header-text">
    <div class="container-fluid">
        <div class="owl-banner owl-carousel">
            {% for article in articles %}
            <div class="item">
                <img src="{{ article.cover.url }}" style="height: 400px;" alt>
                <div class="item-content">
                    <div class="main-content">
                        <a href="post-details.html"><h4>{{ article.title }}</h4></a>
                        <ul class="post-info">
                            <li><a href="#">{{ article.author }}</a></li>
                            <li class="text text-white">{{ article.publish }}</li>
                            <li class="text text-white">12 Comments</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>