{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Password Reset Confirm
{% endblock %}

{% block content %}
    <div class="heading-page header-text">
    </div>
    <section class="blog-posts grid-system mt-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="sidebar-item submit-comment">
                                    <div class="sidebar-heading">
                                        <h2>Password Reset Confirm</h2>
                                    </div>
                                    <div class="content">
                                        <form id="comment" action="" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    {{ form|crispy }}
                                                    <div class="col-lg-12">
                                                    <fieldset>
                                                        <button type="submit" id="form-submit" class="main-button">Change Password</button>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}