{% extends '_base.html' %}

{% block title %}
    Delete
{% endblock %}

{% block content %}
    <p>Are You sure you want to delete {{ article.title }}?</p>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="Delete">
    </form>

    <section class="call-to-action">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="main-content rounded-4 no-background">
                <div class="row">
                  <div class="card text-center">
                    <div class="card-header text text-danger fw-bold fs-3">
                      Delete
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Delete "{{ article.title }}".</h5>
                      <p class="card-text">Are you sure you want to delete "{{ article.title }}" ?</p>
                      <form action="" method="POST">
                        {% csrf_token %}
                        <input class="btn btn-danger mt-4" type="submit" value="Yes, Delete">
                      </form>
                      <a href="{% url 'blog:article_detail' article.pk %}" class="btn btn-primary mt-4">Go to detail</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}