{% extends '_base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Article Detail: {{ article.title }}
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'assets/css/star.css' %}">
{% endblock %}

{% block content %}
<div class="heading-page header-text">
</div>
<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="{{ article.cover.url }}" alt>
                                </div>
                                <div class="down-content">
                                    <a href="post-details.html"><h4>{{ article.title }}</h4></a>
                                    <ul class="post-info">
                                        <li><a href="#">{{ article.author }}</a></li>
                                        <li>{{ article.publish }}</li>
                                        <li>
                                            <i class="far fa-star star two-star fas rate-active"></i>
                                            {{ article.average_rate|stringformat:'.2f' }}
                                        </li>
                                        <li>{{ article.hits.count }}</li>
                                        <li>{{ article.comments.count }} Comments</li>
                                    </ul>
                                    <p>
                                        {{ article.description|linebreaks }}
                                    </p>
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-6">
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-tags"></i></li>
                                                    {% for cat in article.category_active.all %}
                                                    <li><a
                                                            href="{% url 'blog:category_list' cat.slug %}">
                                                            {{ cat.title }}</a>,</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                          <div class="col-lg-12">
                            <div class="sidebar-item comments">
                              <div class="sidebar-heading">
                                <h2>{{ article.comments.count }}</h2>
                              </div>
                              <div class="content">
                                <ul>
                                    {% for comment in comments %}
                                        <li style="display: block;">
                                            <div class="author-thumb">
                                                <img src="{% static 'assets/images/comment-author-01.jpg' %}" style="margin-top: -20px;" alt="">
                                                </div>
                                                <div class="right-content">
                                                <h4>{{ comment.author }}<span>{{ comment.datetime_created }}</span></h4>
                                                <p>{{ comment.text }}</p>
                                                <i class="far fa-star star two-star {% if comment.rate >= 1 %} fas rate-active {% endif %}"></i>
                                                <i class="far fa-star star two-star {% if comment.rate >= 2 %} fas rate-active {% endif %}"></i>
                                                <i class="far fa-star star two-star {% if comment.rate >= 3 %} fas rate-active {% endif %}"></i>
                                                <i class="far fa-star star two-star {% if comment.rate >= 4 %} fas rate-active {% endif %}"></i>
                                                <i class="far fa-star star two-star {% if comment.rate >= 5 %} fas rate-active {% endif %}"></i>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                              </div>
                            </div>
                          </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item submit-comment">
                                <div class="sidebar-heading">
                                    <h2>Your comment</h2>
                                </div>
                                <div class="content">
                                    <form id="comment"
                                        action="{% url 'blog:comment_create' article.pk %}"
                                        method="POST">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <fieldset>
                                                    <input name="email"
                                                        type="email" id="email"
                                                        placeholder="Your email"
                                                        required>
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <textarea name="text"
                                                        rows="6" id="message"
                                                        placeholder="Type your comment"
                                                        required></textarea>
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12 mt-5">
                                                <fieldset>
                                                    <button type="submit"
                                                        id="form-submit"
                                                        class="main-button">Submit</button>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="wrap">
                                            <div class="stars">
                                                <label class="rate">
                                                    <input type="radio" name="rate" id="star1" value="1">
                                                    <div class="face"></div>
                                                    <i class="far fa-star star one-star"></i>
                                                </label>
                                                <label class="rate">
                                                    <input type="radio" name="rate" id="star2" value="2">
                                                    <div class="face"></div>
                                                    <i class="far fa-star star two-star"></i>
                                                </label>
                                                <label class="rate">
                                                    <input type="radio" name="rate" id="star3" value="3">
                                                    <div class="face"></div>
                                                    <i class="far fa-star star three-star"></i>
                                                </label>
                                                <label class="rate">
                                                    <input type="radio" name="rate" id="star4" value="4">
                                                    <div class="face"></div>
                                                    <i class="far fa-star star four-star"></i>
                                                </label>
                                                <label class="rate">
                                                    <input type="radio" name="rate" id="star5" value="5">
                                                    <div class="face"></div>
                                                    <i class="far fa-star star five-star"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sidebar-item recent-posts">
                                <div class="sidebar-heading">
                                    <h2>Similar Articles</h2>
                                </div>
                                {% for article in similar_articles %}
                                    <div class="content">
                                        <ul>
                                            <li>
                                                <a href="{% url 'blog:article_detail' article.pk %}">
                                                    <h5>{{ article.title }}</h5>
                                                    <span>{{ article.publish }}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block custom_js %}
    <script src="{% static 'assets/js/star.js' %}"></script> 
{% endblock %}