{% extends '_base.html' %}

{% block title %}
    category: {{ category.title }}
{% endblock %}

{% block content %}
    <h2>Article List</h2>

    {% for article in articles %}
        <a href="{{ article.get_absolute_url }}">
            <img src="{{ article.cover.url }}" alt="">
            <h3>{{ article.title }}</h3>
        </a>
        <p>{{ article.description|truncatewords:20 }}</p>
        <p>{{ article.author }}</p>
        {% for cat in article.category_active.all %}
            <a href="{% url 'blog:category_list' cat.slug %}">#{{ cat.title }}</a>
        {% endfor %}
        <hr>
    {% endfor %}

    <form action="{% url 'blog:article_search' %}" method="GET">
        <input type="search" name="q">
    </form>
{% endblock %}